{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                
                {% for image in images %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{image.image.url}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{image.image_caption}}</h5>
                      <p class="card-text">{{image.image_name}}</p>
                      <a href="{% url 'single_image' image_id=image.id %}" class="btn btn-primary">view single image</a>
                    </div>
                  </div>
                {% endfor %}
                    
            </div>
        </div>
    </div>
{% endblock content %}
    