{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p>user photo</p>
            </div>
            <div class="col">
                <div class="div_1">
                <h1>username</h1>
                <button>message</button>
                <button>follow/following</button>
                </div>
                <!-- A brother is a gift to the heart and a friend to the spirit -->
                <div class="div_2">
                    <p>posts</p>
                    <p>followers</p>
                    <p>following</p>
                </div>

                <div class="div_3">
                    <p>userbio</p>
                </div>
            </div>
        </div>

        <div class="row">
            <h1>users photos</h1>
        </div>
    </div>
{% endblock content %}
    