{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{image.image.url}}" class="img-fluid" alt="">
            </div>
            <div class="col">
                <h4><a href="#">{{image.posted_by}}</a></h4>
                <h1>{{image.image_caption}}</h1>
                <p>{{image.image_name}}</p>
                <p>{{image.pub_date}}</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{comments_form | crispy}}
                    <button type="submit">Post</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
    