{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{image.image.url}}" class="img-fluid" alt="">
            </div>
            <div class="col">
                <h4><a href="#">{{image.posted_by}}</a></h4>
                <h1>{{image.image_caption}}</h1>
                <p>{{image.image_name}}</p>
                <p>{{image.pub_date}}</p>
            </div>
        </div>
    </div>
{% endblock content %}
    