{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{user.profile.profile_pic.url}}" alt="..." class="rounded-circle float-right">
            </div> 
            <div class="col">
                <h1>{{user.username}}</h1>
                <p>{{user.email}}</p>
                <p>{{user.profile.bio}}</p>
                <!-- <a href="" class="btn btn-success">Update Form</a> -->
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3">
                <div class="card" style="width: 250px;">
                    <a href="{% url 'single_image' image_id=user_images.id %}"><img src="{{user_images.image.url}}" class="card-img-top" alt="..."></a>
                </div>                    
            </div>
        </div>
    </div>
{% endblock content %}
    