{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <fieldset>
                            <legend class="border-bottom">User Profile</legend>
                            {% csrf_token %}
                            {{u_form | crispy}}
                            {{p_form | crispy}}
                            <button class="btn btn-info" type="submit">Update</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}